html{
	height: 100%;
}
body{
	background: #f9f9f9;
	font-family: "futura-pt";
	height: 100%;
	font-size: 18px;
	line-height: 140%;
	color: @lowlight;
	font-weight: 400;

}

::selection {
  background:@morning-light;
  color: @lowlight; 
  .text-shadow(0 1px 3px rgba(255, 255, 255, 0.25));
}
::-moz-selection {
  background:@morning-light; 
  color: @lowlight;
  .text-shadow(0 1px 3px rgba(255, 255, 255, 0.25));
}
#top{
	height: 20px;
	background: @lowlight;
}
#head{
	padding-top: 20px;
	padding-bottom: 20px;
	background: @brand-primary;
	#mainav{
		margin: auto;

		li{
			font-size: 140%;
			text-transform: uppercase;
			font-weight: 200;
			&.active{
				a{
					background: darken(@brand-primary,10%);
					.inner-shadow();
				}
			}
			a{
				color: white;
				.text-shadow(0 1px 3px rgba(0, 0, 0, 0.25));
				
				
				&:hover{
					background: darken(@brand-primary,10%);
					.inner-shadow();

				}
			}
		}
	}
}
#main{
	background: white;
	min-height: 100%;
	
}

h1{
	font-size: 240%;
	font-weight: 200;
	color:darken(@brand-primary,10%);
}

.languages{
	float: right;
	a{
		color: white;
		font-weight: 100;
		padding: 10px;
		&.active{
			text-decoration: underline;

		}
	}
}

#guestList{
	ul.list1{
		list-style: none;
		margin: 0px;
		padding: 0px;
		li{
			float: left;
			height: 200px;
			text-align: center;
			overflow: hidden;
			img{
				width: 120px;
				height: 120px;
			}
		}
	}
}